/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

article {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Section styles */
section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2, h3:first-child{
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    }
}

/* Header styles */
h2, h3, h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #008000; /* Green */
}

h3 {
    font-size: 1.5em;
    color: #ff8c00; /* Orange */
}

/* Featured items styles */
.featured-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-item {
    flex: 1 1 calc(33.333% - 20px);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured-item div {
    height: 150px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
}

.featured-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.featured-item h4 {
    padding: 10px;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

/* Dev log styles */
#dev-log ul {
    padding-left: 20px;
}

#dev-log li {
    margin-bottom: 10px;
    list-style-type: disc;
}

/* Contact styles */
#contact div {
    margin-top: 10px;
    color: #008000; /* Green */
}

/* Responsive design */
@media (max-width: 768px) {
    .featured-item {
        flex: 1 1 100%;
    }
}
