/* General styles */
@property --orange{
    color: #FF8C00
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    background-color: #008000;
    /* Green */
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height: 1em;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

header.scrolled {
    height: 2em;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    scale: 0;
    width: 0;
    height: 0;
    margin-right: 0;
    text-wrap: nowrap;
    transition: all 0.3s ease;
}

header.scrolled h1 {
    scale: 1;
    width: 9em;
    margin-right: 1em;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    z-index: 11;
}

nav li {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff8c00;
    /* Orange */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav ul.open+.overlay {
    display: block;
}

/* Main content styles */
main {
    padding: 30px 20px 20px;
    /* Add padding to compensate for fixed header */
}

/* Footer styles */
footer {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    .copyright {
        margin-left: 2em;
    }
}


/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 15px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        gap: 0;

        width: 100vw;
        background: #008000;
        /* Green */

        right: -100vw;
        transition: right 0.3s ease;
    }

    nav ul.open {
        right: 0;
    }

    nav ul li a {
        display: block;
        padding: 10px 10px;
        border-top: 1px solid black;
    }

    footer{
        flex-direction: column-reverse;
    }
}

article {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Section styles */
section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2,
    h3:first-child {
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    }
}

/* Header styles */
h2,
h3,
h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #008000;
    /* Green */
}

h3 {
    font-size: 1.5em;
    color: #ff8c00;
    /* Orange */
}

/* Styling for the social links */
.social-links {
    /* nothing for now */
}

.social-link {
    margin: 0 10px;
    color: #FF8C00;
    /* Orange color */
    font-size: 1.2em;
}

.social-link:hover {
    text-decoration: underline;
}